:root {
  --background: linear-gradient(to left top,rgba(255, 255, 255, 1), rgba(130, 87, 229, 1));
  --color-boarding-pass-strong: rgba(255, 255, 255, 1);
  --color-boarding-pass: rgba(255, 255, 255, 1);
  --background-boarding-pass: rgba(53, 53, 53, 1);
  --color-border: rgba(53, 53, 53, 0.32);
  --button: #fff;
  --primary100: red;
  --primary200: red;
  --primary300: red;
  --primary400: red;
  --primary500: #42287f;

  --text:  rgba(53, 53, 53, 1);
  --text-primary: rgba(130, 87, 229, 1);

  --cut-color:  rgba(53, 53, 53, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to left top,rgba(39, 26, 69, 1), rgba(130, 87, 229, 1));
    --color-boarding-pass-strong: rgba(53, 53, 53, 1);
    --color-boarding-pass: rgba(53, 53, 53, 1);
    --background-boarding-pass:  rgba(255, 255, 255, 1);
    --color-border: rgba(255, 255, 255, 0.32);
    --button: #42287f;
    --primary100: red;
    --primary200: red;
    --primary300: red;
    --primary400: red;
    --primary500: #42287f;

    --text: #fff;
    --text-primary: #ffc161f0;

    --cut-color: #fff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .logo {
    filter: invert(1);
  }
}